.forgot-password-link {
  display: block;
  margin-top: 20px;
}

.sign-up-message {
  display: block;
  margin-top: auto;
  margin-bottom: 40px;
  text-align: center;

  a {
    display: inline;
  }
}
