<form
  [formGroup]="dataCollectorForm"
  (ngSubmit)="onSubmit()"
>

  <h1 mat-dialog-title>Bulk Update Todos</h1>

  <div class="d-flex flex-row mt-3">
    <div
      formArrayName="forms"
      class="d-flex flex-row flex-wrap"
    >
      <div *ngFor="let form of forms.controls; let i = index">
        <app-data-collector-form
          [formGroup]="getItemFormGroup(i)"
        >
        </app-data-collector-form>
      </div>
    </div>
  </div>

  <button
    [disabled]="dataCollectorForm.invalid"
    type="submit"
    class="btn btn-primary"
  >
    Submit all forms
  </button>

  <button
    type="button"
    class="btn btn-primary"
    (click)="onCancel()"
  >
    Cancel
  </button>
</form>
