<section class="auth-container">

  <h2 class="title">Password recovery</h2>

  <form [formGroup]="form" (ngSubmit)="sendResetPasswordRequest()">

    <section>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input id="email" matInput placeholder="Enter your email address" formControlName="email">
        <mat-error *ngIf="form.get('email')!.invalid && form.get('email')!.touched">
          <span *ngIf="form.get('email')!.errors!['required']">Enter email</span>
          <span *ngIf="form.get('email')!.errors!['emailInvalid']">Enter valid email</span>
        </mat-error>
      </mat-form-field>
    </section>

    <button [disabled]="form.invalid" mat-raised-button type="submit">Reset</button>
  </form>

  <a routerLink="/login">Back To Login</a>
</section>


