<mat-card class="todo-form-card">
  <form [formGroup]="form" (ngSubmit)="onSave()">

    <section class="field-wrapper">
      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <input matInput formControlName="description" name="description" required />
        <mat-error *ngIf="form.get('description')!.invalid && form.get('description')!.touched">
          <span *ngIf="form.get('description')!.errors!['pattern']">Description could not be empty</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Due Date</mat-label>
        <input matInput formControlName="dueDate" name="dueDate" [matDatepicker]="picker" />
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="form.get('dueDate')!.invalid && form.get('dueDate')!.touched">
          <span *ngIf="form.get('dueDate')!.errors!['invalidDate']">Date could not be in the past</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Priority</mat-label>
        <select matNativeControl formControlName="priority" required>
          <option *ngFor="let option of priorities" [value]="option.value">{{option.label}}</option>
        </select>
      </mat-form-field>
    </section>

    <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Add Task</button>
  </form>
</mat-card>

